@font-face {
  font-family: 'SF Pro';
  src: url('./assets/fonts/sf-pro-regular.otf') format('opentype');
}

:root {
  --app-font-size: 16px;
  --bg-color: #1C1C1E;
  --text-color: #F8F8F8;
}

:root[data-theme='light'] {
  --bg-color: #F4F4F5;
  --text-color: #1C1C1E;
}

* {
  border: none;
  box-sizing: border-box;
  font-family: 'SF Pro', sans-serif;
  font-size: var(--app-font-size);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: #007aff
}

a:hover {
  color: #005bb5;
}

a:active {
  color: #004a99;
}

body {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  height: 100svh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

#root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid #f1f1f1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.7);
}
